
body{
  padding-top:2.2rem;
  padding-bottom:4.2rem;
  background:rgba(0, 0, 0, 0.76);
  }

  a{
   text-decoration:none !important;
   }
   h1,h2,h3, label{
   font-family: 'Kaushan Script', cursive;
   
   }

   label {
     font-size: 0.5px;
   }

   .card-body {
      width: 70%;
      /* margin: auto; */
      padding-left: 30px;
      text-align: center;
   }

    .myform{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color:whitesmoke; !change colour
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
   }
   .tx-tfm{
   text-transform:uppercase;
   }

   .mybtn{
    font-size: small;
   }
  
   .login-or {
   position: relative;
   color: #aaa;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   }
   .span-or {
   display: block;
   position: absolute;
   left: 50%;
   top: -2px;
   margin-left: -25px;
   background-color: #fff;
   width: 50px;
   text-align: center;
   }
   .hr-or {
   height: 1px;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
   }
   .google {
   color:#666;
   width:100%;
   height:40px;
   text-align:center;
   outline:none;
   border: 1px solid lightgrey;
   }
    form .error {
   color: #ff0000;
   }
   #second{display:none;}
   
   
  }

#form-container {
margin-left: 28%;
width: 600px;
height: 300px;
background-color: none;
border: 1px #ff5722 solid;
}



#title {
margin-left: 28%;
width: 602px;
height: 30px;
background-color: #ff5722;
} 


.background {

background-image: url(static/images/Dang.jpg);
background-color: #666;
}

#user_data {
  font-size: 0.5px;
}

//

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  /* width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
  .close {
    color: #aaa;
    float: right; 
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; */
  } 


.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}


.roundbox {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
}

input[type=text] {
  width: 500px;
}

.edit {
  /* margin-left: 5px; */
  font-size: 14px;
}

.col-form-label {
  text-align: right;
  font-weight: 700;
}

#ava {
  width: 250px;
  height: 250px;
  fit-content: cover;
}

.two {
  border-radius: 25px;
  width: 42vw;
  float: right;
  height: 20vh;
  background-color: #94BAE7;
  /* padding: 1vh; */
  padding-left: 0px;
  padding-right: 0px;; 
  margin: 1vh;
  margin-top: 20px;
}

.cancel-btn {
  margin-left: 20px;
}

.save-changes-btn {
  margin-left: 20px;
}

.all-wrap {
  padding-left: 30px;
}