{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to TOMO</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}" />
    <script src="{% static 'js/index/index.js' %}"></script>
    <script src="{% static 'js/index/datepicker-master/dist/datepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/index/datepicker-master/dist/datepicker.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <div class="head-bar">
        {% include 'navbar.html' %}
    </div> <!-- head-bar -->

    <!-- <div class="cred">
        {% if not user.id %}
        <a href="login" class="btn btn-secondary">Login</a>
        <a href="signup" class="btn btn-primary">Sign up</a>
        {% endif %}
        {% if user.id %}
        <a href="{% url 'user_profile' user.username%}" class="btn btn-primary">Hello {{ user }}!</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        <a href="{% url 'settings' %}" class="btn btn-secondary">settings</a>
        {% endif %}
    </div> -->

    {% if not user.id %}<!--  Not logged in display -->
    <div class="slide">

       <!-- For tags events -->
       {% for key,value in dict_tag.items %}
       <div class="section-slide">
           <div>
               <nobr>
                   <h2>{{key}}
                       <a style="float: right; font-size:50%" href="#"></a></h2>
               </nobr>
           </div>
           <div class="container">
               <div class="row">
                   <div class="MultiCarousel" data-items="1,3,5,4" data-slide="4" id="MultiCarousel"
                       data-interval="1000">
                       <div class="MultiCarousel-inner">
                           {% for event in value %}
                           <div class="item">
                               <div class="card" onclick="window.open('{% url 'detail' event.id%}');" style="cursor: pointer;">
                                   <div style="overflow: hidden;">
                                   <img class="card-img-top" src="{{ event.cover_image.url }}">
                                   </div>
                                   <div class="card-body">
                                   <p class="datetime">{{event.hosted_at|date:'D, M j, g:i A'}}</p>
                                   <div class="wrapper"><a class="lead" style="font-weight: bold;">{{event.name}}</a></div>
                                   <div class="wrapper">
                                       <p>{{event.detail}}</p>
                                   </div>
                                   <small class="ppp"> Hosted by {{event.host}}</small><br>
                                   <small>{{event.attendees.all.count}} people will go</small>
                               </div>
                               </div>
                           </div>
                           {%endfor%}
                       </div>
                       <button class="leftLst">
                           <span class="fas fa-chevron-left fa-3x"></span>
                       </button>
                       <button class="rightLst">
                           <i class="fas fa-chevron-right fa-3x"></i>
                       </button>
                   </div>
               </div>
           </div>
       </div> <!-- section-slide -->
       {%endfor%}
    </div>
    {% endif %}





    {% if user.id %}<!-- logged in display -->
    <div class="float-right">
        <a href="{% url 'index' %}?view=slide" class="btn">Events</a> |
        <a href="{% url 'index' %}?view=calendar" class="btn">Calendar</a>
    </div>
        {% if state %}
        <div class="slide">

        <div class="section-slide">
            <div>
                <nobr>
                    <h2>Featured
                        <a style="float: right; font-size:50%" href="#"></a></h2>
                </nobr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="MultiCarousel" data-items="1,3,5,4" data-slide="4" id="MultiCarousel"
                        data-interval="1000">
                        <div class="MultiCarousel-inner">
                            {% for event in events %}
                            <div class="item">
                                <div class="card" onclick="window.open('{% url 'detail' event.id%}');" style="cursor: pointer;">
                                    <div style="overflow: hidden;">
                                    <img class="card-img-top" src="{{ event.cover_image.url }}">
                                    </div>
                                    <div class="card-body">
                                    <p class="datetime">{{event.hosted_at|date:'D, M j, g:i A'}}</p>
                                    <div class="wrapper"><a class="lead" style="font-weight: bold;">{{event.name}}</a></div>
                                    <div class="wrapper">
                                        <p>{{event.detail}}</p>
                                    </div>
                                    <small class="ppp"> Hosted by {{event.host}}</small><br>
                                    <small>{{event.attendees.all.count}} people will go</small>
                                </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <button class="leftLst">
                            <span class="fas fa-chevron-left fa-3x"></span>
                        </button>
                        <button class="rightLst">
                            <i class="fas fa-chevron-right fa-3x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> <!-- section-slide -->


        <!-- For tags events -->
        {% for key,value in dict_tag.items %}
        <div class="section-slide">
            <div>
                <nobr>
                    <h2>{{key}}
                        <a style="float: right; font-size:50%" href="#"></a></h2>
                </nobr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="MultiCarousel" data-items="1,3,5,4" data-slide="4" id="MultiCarousel"
                        data-interval="1000">
                        <div class="MultiCarousel-inner">
                            {% for event in value %}
                            <div class="item">
                                <div class="card" onclick="window.open('{% url 'detail' event.id%}');" style="cursor: pointer;">
                                    <div style="overflow: hidden;">
                                    <img class="card-img-top" src="{{ event.cover_image.url }}">
                                    </div>
                                    <div class="card-body">
                                    <p class="datetime">{{event.hosted_at|date:'D, M j, g:i A'}}</p>
                                    <div class="wrapper"><a class="lead" style="font-weight: bold;">{{event.name}}</a></div>
                                    <div class="wrapper">
                                        <p>{{event.detail}}</p>
                                    </div>
                                    <small class="ppp"> Hosted by {{event.host}}</small><br>
                                    <small>{{event.attendees.all.count}} people will go</small>
                                </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <button class="leftLst">
                            <span class="fas fa-chevron-left fa-3x"></span>
                        </button>
                        <button class="rightLst">
                            <i class="fas fa-chevron-right fa-3x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> <!-- section-slide -->
        {%endfor%}
            </div>
        {% endif %}


        {% if not state %}
            <div class="column1">
                {% for key, value in date_list.items %}
                <div class="rap-god">
                    <div class="section-text" style="text-transform: uppercase;">{{ key }}</div>
                    {% for event in value %}
                    <div class="section">
                        <div class="card mb-3" onclick="window.open('{% url 'detail' event.id%}');" style="cursor: pointer;">
                            <div class="card-header">
                                <div class="nono">
                                    <div>{{event.hosted_at|date:'g:i A'}}</div>
                                </div>
                                <div class="nono1">
                                    <small>Hosted by: {{event.host}}</small><br>
                                    <a href="{% url 'detail' event.id %}">{{ event.name }}</a><br>
                                    <small>{{event.attendees.all.count}} people will go</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div> <!-- column1 -->
        <!-- wrapping-gift -->

            <div class="column2">
                <!-- <div data-toggle="datepicker"></div> -->
                <div class="datepicker"></div>
            </div> <!-- column2 -->
        {% endif %}
    {% endif %} <!-- NOT logged in display -->
</body>

</html>