{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
      <title> Setting and Privacy </title>
      <meta charset = "utf8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="{% static "/js/settings/pw_update.js" %}"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" >
      <link rel="stylesheet" herf="{% static "css/settings.css" %}" />

      <!--link rel="stylesheet" href="{% static 'css/signup.css' %}" -->
      

  </head>
  <body >
    <div class="head-bar">
      {% include 'navbar.html' %}
    </div>
        <div id="pw_update" class="card-body col-sm-6 offset-3" >
            <div class="modal-content" >
                <div class="card-body" >
                    <div class="container" >
                        <div class="row">
                        {% if wrongPassword %}
                                <div class="text-warning text-center">Wrong Password!</div>
                        {% endif %}

                        <form id="user_data" action="{% url 'password' %}" method = "post">
                        {% csrf_token%}

                        
                        <h5 class="card-title text-center" ><b>Change Password</b> </h5>
                        
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="form-group" >
                                <font size="3" style:>
                                {{ field.label_tag }}
                                </font>
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                      {% render_field field class="form-control is-invalid" %}
                                      {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                          {{ error }}
                                        </div>
                                      {% endfor %}
                                    {% else %}
                                      {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                  {% else %}
                                    {% render_field field class="form-control" %}
                                  {% endif %}

                                    
                                  {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.messages}}</small>
                                  {% endif %} 
                            
                            </div>
                        {% endfor %}

                            <div>
                              <a data-toggle="modal" href="{% url 'settings'%}" class="btn btn-mdb-color">Cancel</a>
                              <button type="submit" value='update' class="btn btn-success" name='update'>Update</button>
                            </div>
      
                        </form>
                        <div>
                    </div>
                </div>
            </div> 
        </div>
          
  </body>

</html>




